ACTUAL_SERVER_URL=
ACTUAL_PASSWORD=
ACTUAL_SYNC_ID=
ACTUAL_FINTUAL_ACCOUNT=
ACTUAL_STARTING_DATE=2024-03-01
ACTUAL_PAYEE=Fintual

FINTUAL_USER_EMAIL=
FINTUAL_USER_PASSWORD=
FINTUAL_GOAL_ID=

GMAIL_USER_EMAIL=
GMAIL_APP_PASSWORD=
GMAIL_IMAP_HOST=imap.gmail.com
GMAIL_IMAP_PORT=993

FINTUAL_2FA_SENDER=notificaciones@fintual.com
FINTUAL_2FA_SUBJECT=Código para entrar
